<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/users/profile/<%=user.id%>?_method=PUT' method='POST'>
        Name: <input type='text' name='name' value='<%=user.name%>'/><br/>
        Username: <input type='text' name='username' value='<%=user.username%>'/><br/>
        Password: <input type='text' name='password' value='<%=user.password%>'/><br/>
        Creature: <select name="id">
            <% for ( let i = 0; i < gardens.length; i++ ) {
                let selected = ( i == 0 ) ? "selected" : "";
            %>
                <option value="<%=gardens[i].id%>" <%=selected%>><%=gardens[i].creatureName%>
                </option>
           <% } %>
</body>
</html>